@model IEnumerable<Vacation.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12">
            <h1>Đơn hàng</h1>
        </div>
    </div><!--end of .row-->
    <div class="row">
        <div class="col-md-12">
            <table id="data_table" class="table display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@Html.DisplayFor(modelItem => item.Id)</th>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                            <td>@Html.DisplayFor(modelItem => item.Created_at)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td style="text-align: center;">
                                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
